html {
  scroll-behavior: smooth;
}
  
body {
  background-color: #1F354A;
}

footer {
  height: 100px;
  padding: 1em;
}

h1 {
  color: navy;
}

.content {
  min-height: calc(100vh - 100px);
}

.lead {
  color: white;
}

.alert {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}